html {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  margin: 0;
  padding: 0;
  height: 450px;
  width: 450px;
  background-color: rgb(2, 0, 148);
  border: 1px solid black;
}

.grid-item {
  margin: 1px;
  background-color: rgb(195, 214, 194);
}
